$white: #f0ede5;
$offwhite: #e8e3d8;
$offblack: #211917;
$black: #100f13;
$green: #03a45a;
$secondaryBlack: #4c5053;
$lightGray: #808080;
$superLightGray: #cdcdcd;
$orange1: #ed8b16;
$softOrange: #f27405;
$lightOrange: #ffce93;
$muteOrange: #f19749;
$muteOrange2: #e59040;
